__pycache__
.env
.learn__pycache__
.learn
venv/data/raw/brazilian-ecommerce
src/BaseSQL.db
venv/
data/raw/brazilian-ecommerce
venv/data/processed/MasterVentas.csv
/workspaces/Proyecto_Final_Close-Loop-Intelligence/data/processed/X_test_selected.csv
/workspaces/Proyecto_Final_Close-Loop-Intelligence/data/processed/X_train_selected.csv