__pycache__
.env
.learn__pycache__
.learn
venv/data/raw/brazilian-ecommerce
src/BaseSQL.db
venv/
data/raw/brazilian-ecommerce
data/processed/MasterVentas.csv
data/processed/X_test_selected.csv
data/processed/X_train_selected.csv
models/best_rf_model.pklmodels/best_rf_model.pkl
models/scaler.pkl
data/interim/

