version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspaces/Proyecto_Final_Close-Loop-Intelligence:cached
    command: sleep infinity
    depends_on:
      - db
  db:
    image: postgres:16
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: gitpod
      POSTGRES_DB: sample-db
      POSTGRES_PASSWORD: postgres
    networks:
      - default

volumes:
  postgres-data:

networks:
  default:
    driver: bridge